/* Remove o padding antigo do body (do index.css) se houver */
body {
  color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
}

/* O container principal da página */
.content {
  /* Deixa 200px de espaço para o Menu (que é fixo) + 20px de padding */
  margin-left: 220px; 
  padding: 20px;
}
/* Remove o fundo e a borda do botão de Dropdown da Topbar */
#dropdownUser2 {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Garante que o ícone de seta do dropdown seja visível em fundo claro */
#dropdownUser2::after {
  color: #212529; /* Cor escura do texto */
}