{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
        body { font-family: sans-serif; margin: 2em; }
        form { display: flex; flex-direction: column; max-width: 400px; }
        form p { display: flex; flex-direction: column; margin-bottom: 1em; }
        label { margin-bottom: 0.5em; font-weight: bold; }
        input, textarea { padding: 0.5em; border: 1px solid #ccc; border-radius: 4px; }
        button { padding: 0.7em; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer; }
        button:hover { background-color: #0056b3; }
    </style>
</head>
{% endblock %}

{% block content %}
<div class="p-3 ms-4">
    <h1>Adicionar Novo Demanda</h1>

        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-dark">Salvar Demanda</button>
        </form>
</div>
{% endblock %}