{% extends 'base.html' %}


{% load static %}

{% block content %}
<div class="container-fluid p-4">
    <h1 class="mt-4 mb-4">Cadastro de Projeto</h1>

    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Listagem de Projeto</span>
            <a href="{% url 'atividades:formulario_adcionar_projeto' %}" class="btn btn-dark">
                <i class="bi bi-plus-circle-fill"></i>    
                Novo Projeto
            </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Identificador</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Identificador Produto</th>
                            <th scope="col">Identificador Projeto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for demanda in demandas %}
                        <tr>
                            <td class="center">{{ demanda.id | default:"-"}}</th>
                            <td>{{ demanda.descricao | default:"-"}}</td>
                            <td>{{ demanda.quantidade | default:"-"}}</td>
                            <td>{{ demanda.produto_id | default:"-" }}</td>
                            <td>{{ demanda.projeto_id | default:"-"}}</td>
                        </tr>
                        {% empty %}
                            <td colspan="6" class="text-center p-3">Nenhum projeto cadastrado.</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}